<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
		<meta property="og:image" content="/assets/img/monnem.jpeg">
    <meta property="og:title" content="Monnem - {{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sotaro.io" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:description" content="Our Monnem" />
    <meta name="twitter:card" content="summary_large_image" />

    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <main>
			{{ content }}
    </main>
  </body>
</html>
